# Ignore compiled object files for C and C++
*.o
*.out
*.exe

# Ignore Python compiled bytecode files
*.pyc
__pycache__/

# Ignore build directories
build/
bin/

# Ignore text editor and IDE specific files
.vscode/
*.swp
*.swo
*.swn
*~
.DS_Store
